.container{
  width:100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(3, 38, 35);
}
.calculator{
  padding: 20px;
  border-radius:10px;
  background-color: white;
}

form input{
  border:none;
  outline:0;
  width: 60px;
  height: 60px;
  font-size: 20px;
  background-color: rgb(41, 173, 166);
  margin: 2px;
  border-radius: 10px;
  color: black;
  font-weight: bolder;
  cursor: pointer;

}

form input:hover{
  background-color:rgb(3, 75, 71);
}

form .display{
  display: flex;
  justify-content: flex-end;
  margin:5px 0px 15px 0px ;
  text-align:right ;
  flex: 1;
}
form .display input{
  text-align:right ;
  flex: 1;
  font-size: 32px;
  background-color: rgb(5, 105, 99);
  padding: 5px 10px;
}
form input.equal{
  width: 124px;
}